# ALEX B'S NOTES AT THE BOTTOM! 

# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Tetragon Publishing - Typesetting and Pre-press for Publishers
email: info@tetragonpublishing.com
description: >- # this means to ignore newlines until "baseurl:"
  Tetragon is a high-tech London-based typesetting and eBook design house, and offers a full set of pre-press services under one roof.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://tetragonpublishing.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: _tetragon
github_username:  tetragonpublishing
permalink: /blog/:year/:month/:day/:title
excerpt_separator: "<!--more-->" 

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-archives

jekyll-archives:
  enabled:
    - categories
  layout: 'tag'
  permalinks:
    year: '/blog/:year/'
    month: '/blog/:year/:month/'
    day: '/blog/:year/:month/:day/'
    tag: '/blog/tag/:name/'
    category: '/blog/tag/:name/'
# was
#   category: '/category/:name/'

  
#  - jekyll-compass
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# NOTES
# using an old version of Zurb Foundation with Compass for spriting 
# instead of trying to integrate that into Jekyll, too much hassle. 

