<main class="blog-layout">
	<div class="blog-main">
		<div class="blog-item post">
			<hgroup>
				<h1 class="blog-item-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
				<h2 class="blog-item-meta">
					<span class="post-date">{{ page.date | date: '%b %-d' }} '{{ page.date | date: '%y' }}</span>
					<span class="post-author">Posted By: A B</span>
				</h2>
			</hgroup>

			<div class="blog-item-content bodytext">
{{ page.content }}
			</div>

			<div class="aut">&mdash; A B</div>
			<div class="blog-item-tags tags">
				<span class="blog-item-tags-label">Tags:</span>
				{% for category in page.categories %}
					{% unless forloop.first %}
						<a href="/blog/tag/{{category|slugify}}">{{category}}</a>{% unless forloop.last %},{% endunless %}
					{% endunless %}
				{% endfor %}
			</div>
		</div>
	</div>

{% include blog-sidebar.html %}
