<footer>
   <div class="row">
      <section class="ten columns offset-by-one" itemscope itemtype="http://schema.org/organization">
         <h6 class="three columns" itemprop="name">Tetragon</h6>
         <div class="soc-med">
            <div class="seven columns" id="social-media" data-text="Tetragon" data-title="share" data-url="https://tetragonpublishing.com/"></div>
         </div>
         <p class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            Collective Auction Rooms ¶ <span itemprop="streetAddress">5—7 Buck Street</span> ¶ <span itemprop="addressLocality">London</span> ¶ <span itemprop="postalCode">NW1 8NJ</span>
         </p>
         <div class="hide">
            <span class="url" itemprop="url">https://tetragonpublishing.com</span>
            <span class="tel" itemprop="telephone">+44 (0)20 7 1001 575</span>
            <a class="hide" href="https://plus.google.com/110144443459623803321?prsrc=3" rel="author" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a>
            <div itemprop="location" class="hide">
               <span itemscope itemtype="http://schema.org/Place">
                  <div itemprop="geo">
                     <span itemscope itemtype="http://schema.org/GeoCoordinates">
                     <span property="latitude" content="51.54039047516868">51.54039047516868 N</span>
                     <span property=”longitude" content="0.14271204359829426">0.14271204359829426 W</span>
                     </span>
                  </div>
               </span>
            </div>
         </div>
      </section>
   </div>
</footer>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', "UA-15368185-1"]);
	_gaq.push(['_setDomainName', "tetragonpublishing.com"]);
	_gaq.push(['_trackPageview']);
   
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<script type="text/javascript" id="a-js-calls">
   $(function() {
   apostrophe.ready();
   apostrophe.setMessages({"updating":"Updating...","updated":"Updated","save_changes_first":"Please save your changes first."});
   apostrophe.smartCSS();
   apostrophe.onBeforeUnload();
   });
</script>
<!-- Included JS Files -->
<!--  <script src="/assets/js/jquery.min.js"></script> -->
<script src="/assets/js/modernizr.foundation.js"></script>
<script src="/assets/js/jquery.reveal.js"></script>
<script src="/assets/js/jquery.orbit-1.4.0.js"></script>
<script src="/assets/js/forms.jquery.js"></script>
<script src="/assets/js/jquery.customforms.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>
<script src="/assets/js/jquery.tooltips.min.js"></script>
<script src="/assets/js/jquery.color.js"></script>
<script src="/assets/js/jquery.sharrre.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/common.js"></script>
<script id="dsq-count-scr" src="//tetragon.disqus.com/count.js" async></script>