<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="title" content="{{ page.title }}" />
	<meta name="description" content="{{ page.description }}" />
	<meta property="og:title" content="Tetragon Publishing" />
	<meta property="og:url" content="https://tetragonpublishing.com" />
	<meta property="og:image" content="https://tetragonpublishing.com/assets/img/t-square-notext.png" />
	<meta property="og:description" content="Tetragon: Typesetting, Copy-editing, eBooks and pre-press production for publishers" />
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<title>Tetragon | Typesetting and Production for UK Publishers</title>

	<script type="text/javascript">
	    document.documentElement.className = 'fouc';
	    WebFontConfig = {
	      google: { families: [ 'EB Garamond', 'Lato:400' ] }
	    };
	    (function(d) {
	       var wf = d.createElement('script'), s = d.scripts[0];
	       wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
	       wf.async = true;
	       s.parentNode.insertBefore(wf, s);
	    })(document);
	</script>

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

	<script type="text/javascript" data-asset-group="global" src="/assets/js/apostrophe.js"></script>
</head>
