/* line 9, ../../_compass/sass/ie.scss */
div.panel {
  border: 1px solid #cccccc;
}

/* line 13, ../../_compass/sass/ie.scss */
.lt-ie8 .nav-bar li.has-flyout a {
  padding-right: 20px;
}
/* line 15, ../../_compass/sass/ie.scss */
.lt-ie8 .nav-bar li.has-flyout a:after {
  border-top: none;
}
