<!doctype html>
<html lang="en">

{% include head.html %}

<body class="a-home">
<div class="wrapper">
	<div class="container">

{% include header.html %}

		<div class="tetragon-main row">
			<div id="a-area-13-body" class="a-area a-normal a-area-body clearfix">
				<div id="a-slots-13-body" class="a-slots clearfix">
					<div class="a-slot a-normal aRawHTML clearfix" data-pageid="13" data-name="body" data-permid="1" id="a-slot-13-body-1">
						<div class="a-slot-content clearfix" id="a-slot-content-13-body-1">

{{ content }}
						</div>
					</div>
				</div>
			</div>

			<div id="a-area-1-sidebar" class="a-area a-normal a-area-sidebar clearfix">
				<div id="a-slots-1-sidebar" class="a-slots clearfix">
				</div>
			</div>
			<div class="a-content two columns">
			</div>
    	</div>
  </div>
</div>

    {% include footer.html %}

  </body>

</html>
